name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # use python version from `.python-version` file
      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run tests
        run: uv run pytest
