name: Test

on:
  push:
    branches:
      - main
    paths:
    - 'build_mpq/**'
    - 'tests/**'
    - '*.py'
    - '.github/workflows/test.yaml'
  pull_request:
    paths:
    - 'build_mpq/**'
    - 'tests/**'
    - '*.py'
    - '.github/workflows/test.yaml'

jobs:
  test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Sync uv environment
        run: uv sync --extra dev

      - name: Run tests
        run: uv run pytest
